.container.justify-content-center
  .row
    %h1 Kullanıcı
    = @worker.username
    %br/
    = @worker.surname
    %br/
    = @worker.phone_number
    %br/
    = @worker.age
    %br/
    = @worker.age
    %br/

