
.container
  .row
    .col-md-6
      %h6{:style => "margin-top: 60px; margin-left: -150px; color: #32CD32;"} Find Your next Dream Job
      %p{:style => "margin-left: -150px; font-size: 75px ; font-weight: 700; "}
        Dream Jobs
        %br/
        find Talent,All
        %br/
        in One Place.
      %p{:style => "margin-left: -150px ;"}
        No matter where you want to go in your life and career,
        = succeed "Job.com" do
          %br/
      %form.form-inline
        %input.form-control.form-control-sm.search{:name => "", :placeholder => "       Search jobs or keywords",:type => "text"}/
        %i.fas.fa-search{:style => "margin-left:-125px;"}
        %button.text-white.border-light.search_button Search
    .col-md-6
      = image_tag 'resim.png',  style: 'margin-top: 50px; margin-left: 370px; width: 500px; height: 450px;'
      
      .container1
  %p.browse-popular
    Browse popular
    %br/
    category
.container2.text-center
  .row
    .col-md-4
      .div_bar
        %p
          %i.fas.fa-mail-bulk.div_bar_icon{:style => "background-color:#00D9FD;"}
          Marketing
    .col-md-4
      .div_bar
        %p
          %i.fas.fa-utensils.div_bar_icon{:style => "background-color:#FA4E09"}
          Restaurants
    .col-md-4
      .div_bar
        %p
          %i.fas.fa-dumbbell.div_bar_icon{:style => "background-color:#516DF5;"}
          Gym center 
.container3
  .row
    .col-md-6
      %p{:style => "margin-left: 250px; font-size: 65px ; margin-top: 250px; font-weight: 700; "}
        The choice is yours,
        %br>/
        we've got you covered
      %p{:style => "margin-left:250px; font-size: 20px;"}
        Whether you need to find top talent, your next great job
        = succeed "opportunity" do
          %br/
        %br/
        bussiness and resourcing challengers,we can help.
    .col-md-6
      = image_tag 'resim2.png',  style: 'margin-top: 100px; width: 500px; height: 500px; float:right;'
.container4
  .row
    .col-md-6
      = image_tag 'resim3.png',  style: 'margin-top: 100px; width: 500px; height: 500px;'
    .col-md-6
      %p{:style => "margin-left: 250px; font-size: 65px ; margin-top: 250px; font-weight: 700; "}
        The choice is yours,
        %br>/
        we've got you covered
      %p{:style => "margin-left:250px; font-size: 20px;"}
        Whether you need to find top talent, your next great job
        = succeed "opportunity" do
          %br/
        %br/
        bussiness and resourcing challengers,we can help.
     


.container4.justify-content-center
  .row
    .col-md-4
      .card
        %i.fab.fa-alipay.div_bar_icon{:style => "color:#516DF5;" }
        %br/
        %h4.card-title kart 1
        %p.card-text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnssimos voluptatum pariatur vgvg
    .col-md-4
      .card
        %i.fas.fa-anchor{:style => "color:#48A465"}
        %br/
        %h4.card-title kart 2
        %p.card-text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnssimos voluptatum pariatur v
    .col-md-4
      .card
        %i.fas.fa-brain{:style => "color:orangered"}
        %br/
        %h4.card-title kart 3
        %p.card-text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnssimos voluptatum pariatur v