
<div class="center">
<h1>İlan ekle</h1>
<%= form_for @adverts do|f| %>
    iş <%= f.select(:job_id, Job.all.collect {|job| [job.name, job.id]} ,{ :prompt => "En Az Birini Seçiniz..."}, { :multiple => true }) %><br>
    başlık<%= f.text_field :title %><br>
    Açıklama <%= f.text_field :description%><br>
    Ücret <%= f.text_field :salary %><br>
    Deneyim <%= f.text_field :experience %><br>
    <%= f.submit 'Gönder' %>
 <% end %>
 </div>