
<div class="center">
<h1>İlan ekle</h1>
<%= form_for @adverts do|f| %>
    Başlık <%= f.text_field :title %><br>
    Açıklama <%= f.text_field :description%><br>
    Ücret <%= f.text_field :salary %><br>
    Deneyim <%= f.text_field :experience %><br>
    Deneyim <%= f.text_field :user_id %><br>
    <%= f.submit 'Gönder' %>
 <% end %>
 </div>