.container 
  %nav.navbar.navbar-expand-lg.navbar-dark.bg-white
    %a.navbar-brand{:href => "#"}
      = image_tag 'logoo.png',  style: 'width: 150px; height: 75px;'
    .container
      %button.navbar-toggler{"data-target" => "", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      .collapse.navbar-collapse{:id => "#menuac"}
        %ul.navbar.-nav.list-inline
          %li.nav-item
            %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Find Jobs
            .dropdown-menu
              %a.dropdowm-item{:href => "#"} kategori içi
          %li.nav-item.dropdown
            %a.nav-link{:href => "#"} Salary Tools
          %li.nav-item
            %a.nav-link{:href => "#"} Career Advice
      - if wo_user_signed_in?
        = link_to 'çıkış yap', destroy_wo_user_session_path, method: :delete
      - else
        = link_to  new_wo_user_session_path do
          %button.nav_button Worker   
      - if em_user_signed_in?
        = link_to 'çıkış yap', destroy_em_user_session_path, method: :delete
      - else
        = link_to  new_em_user_session_path do
          %button.nav_button Employer
      %i.far.fa-user.ml.nav_icon

    